.footer{
    padding-top: 40px;
    background-color: black;
    color: white;
    height: 25vh;
}
.footer-nav{
    display: flex;
    flex-direction: row;
    gap: 250px;
   
}
.footer-left{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.about{
    margin-left: 60px;
    width: fit-content;
}
.footer-nav span{
    color: rgb(186, 186, 186);
}

.nav{
    margin-top: 20px;

}
.nav li{
    list-style: none;
    margin: 3px;
}

.help{
    width: fit-content;
}

/* footer right */
.footer-right{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.address{
    margin-top: 20px;
}
.span-copyright{
    text-align: center;
    margin-top: 10px;
}


