.item-card {
    display: grid;
    width: 300px;
    height: 400px;
    border: 1px solid #d2d2d2;
    justify-items: center;
    align-items: center;
    background-color: #fff;
}
.item-card img{
    width: 250px;
    height: 320px
}
.item-body{
    margin-top: 0;
    margin-bottom: 10px;
}
h4 {
    color: rgb(23, 23, 23);
    font-weight: 250;
    font-size: medium;
}
h5{
    font-weight: 200;
}